* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #996633 46%, #663300 100%);
  font-family: sans-serif;
}
.container {
  padding: 1px;
  max-width: 1200px;
  width: 90%;
  margin: 50px auto;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid rgba(96, 38, 38, 0.297);
  box-shadow: 5px 5px rgb(89, 81, 81);
}

.box1 {
  background: linear-gradient(to right, #0099ff 46%, #33ccff 100%);
  width: 100%;
  border-bottom: 5px solid black;
}
.box1 h1 {
  color: whitesmoke;
  text-align: center;
  padding: 5px;
  font-size: 40px;
}
.box1 ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.box1 ul li {
  padding: 15px;
  background-color: rgb(41, 37, 37);
  border: 2px solid black;
  border-radius: 10px;
}
.box1 ul li a {
  color: whitesmoke;
}
.box1 ul li a:hover {
  background-color: rgb(149, 113, 113);
}
.box2 {
  background: linear-gradient(to right, #0099ff 46%, #33ccff 100%);
  width: 66%;
  height: 350px;
  padding: 10px;
  border-right: 5px solid black;
}
.box2 h2 {
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
}
.box2 p {
  font-size: large;
  text-align: center;
}
.box3 {
  background: linear-gradient(to right, #0099ff 46%, #33ccff 100%);
  width: 34%;
  height: 350px;
  padding: 10px;
}
.box3 h2 {
  color: whitesmoke;
  text-align: center;
}
.box3 p {
  text-align: center;
  color: whitesmoke;
}
.box3 a {
  color: rgb(41, 37, 37);
  text-decoration: none;
}
.box4 {
  background: linear-gradient(to bottom right, #33ccff 38%, #0066cc 95%);
  width: 100%;
  padding: 10px;
  border-top: 5px solid black;
  text-align: center;
  color: whitesmoke;
}

.aboutBox1 {
  background: linear-gradient(to right, #0099ff 46%, #33ccff 100%);
  width: 50%;
  height: 350px;
  padding: 10px;
  border-right: 5px solid black;
  text-align: center;
}
.aboutBox2 {
  background: linear-gradient(to right, #0099ff 46%, #33ccff 100%);
  width: 50%;
  height: 350px;
  padding: 10px;
  text-align: center;
}

.aboutBox1 h2,
.aboutBox2 h2 {
  color: whitesmoke;
  font-size: 30px;
}
.aboutBox1 ul li,
.aboutBox2 ol li {
  font-size: 20px;
}
.aboutBox1 img,
.aboutBox2 img {
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  height: 200px;
  width: 200px;
  border: 3px solid black;
}
.aboutBox1 figcaption,
.aboutBox2 figcaption {
    color: whitesmoke;
}

